.footer {
	padding-top: 70px;
	padding-bottom: 30px;
}

.footer .logo img {
	width: 30%;
	margin-bottom: 1rem;
}

.footer .logo p {
	color: var(--text-color);
}

.social__links span a {
	text-decoration: none !important;
	color: var(--heading-color) !important;
	font-size: 1.2rem !important;
	font-weight: 900;
}

.footer__link-title {
	color: var(--heading-color) !important;
	margin-bottom: 1rem;
}

.footer__quick-links a {
	text-decoration: none;
	color: var(--heading-color);
	font-weight: 700;
	font-size: 1rem;
}
.footer__quick-links h6 span i {
	color: var(--secondary-color);
	font-size: 1.1rem;
}

.copyright {
	color: var(--text-color);
    font-size: 1rem;
}